body{
    margin: 0;
}
.container
{
    display: grid;
    grid-template-columns: 300px 1fr;
}
.sidebar
{
    background-color: lightblue;
    height: 100vh;
}
.content
{
    background-color: lightpink;
}
